*~
*.o
.depend
*.a
*.s
*.so
c/conc_queue/test
*.data.old
*.data
*.out.*
*oprofile*
ms_print*
gmon.out
Lex.hs
.cabal-sandbox
*.sandbox.config
CMakeCache
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
main_none
main
main_justqoq
main_juststat